* {
    margin: 0px;
    padding: 0px;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: rgb(222, 222, 222);
    font-family: "Anton", sans-serif;
    font-weight: 100;
    font-style: normal;
}
.header {
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgb(107, 107, 107);
    color: white;
    font-size: 40px;
    padding: 15px;
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 3px 8px 10px rgba(0, 0, 0, 0.7);
}
.header h1 {
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.7);
    text-shadow: -10px -10px 15px rgba(244, 215, 108, 0.7);
}

.mainContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
.post {
    background-color: white;
    width: 450px;
    margin-bottom: 30px;
    transition: box-shadow 0.3s ea;
}
.post:hover {
    box-shadow: 1px 5px 20px black;
}
.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.left-elements-heading {
    display: flex;
    align-items: center;
}
.left-elements-heading h3 {
    margin-left: 8px;
    font-size: smaller;
}

.round {
    background-color: black;
    border: 1px solid red;
    padding: 12px;
    border-radius: 50%;
    display: block;
    }


.round4 {
    background-color: white;
    border: 1px solid grey;
    padding: 12px;
    border-radius: 50%;
    display: block;
} 


p .round-r {
    background-color: rgb(255, 0, 0);
    padding: 3px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    display: inline-block;
    }

p .round-a {
    background-color: rgb(255, 225, 0);
    padding: 3px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    display: inline-block;
}
p .round-g {
    background-color: rgb(39, 218, 3);
    padding: 3px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    display: inline-block;
}

.round-r:hover,
.round-a:hover,
.round-g:hover {
    background-color: rgb(78, 78, 78);
}

.img1 img {
    border: 1px solid lightskyblue;
    margin-bottom: -3px;
}

.img2 img,
.img3 img {
    object-fit: cover;
}
.img4 img,
.img1 img {
    object-fit: contain;
}
.text {
    margin: -2px;
    padding: 15px 23px;
    border-top: 1px solid lightgrey;
    width: 450px;
    font-family: sans-serif !important;
    font-weight: 100 !important;
    font-style: normal;
}
